
.popup-page
{
    position: absolute;
    
     background-color: rgba(39, 31, 23,0.9);;
    width: 100%;
    height: 100vh;
   
    z-index: 1000;
}
.popup-container
{
  position: fixed;
  z-index: 1000;
}

.popup-box
{
  width: 35%; 
  font-size: 1em;
  color: #ffff;
 background-color: #282c34;
 box-shadow: black; 
  height: 13em;
  margin-top: 13em;
  margin-left: 30%;
  padding: .5em;
  border: 2px solid black;
  border-radius: 1em;
}
.display-title
{
  font-size: 1.5em;
}

.btn-sm{ 
    padding: 0.5em;
    margin: .5em;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    background-color: antiquewhite;
    border-radius: 6px; 
    }

